<html>
  
  <head>
    <title>Simplex</title>
    <meta charset="UTF-8" />
  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <a class="navbar-brand" href="#">Simplex</a>
          </a>
          <a class="navbar-brand" href="#">
            <a class="navbar-brand" href="#">|</a>
          </a>
          <a class="navbar-brand" href="/">
            <a class="navbar-brand" href="/">Knapsack</a>
          </a>
        </div>
      </div>
    </nav>


    <div class="container">

      <div class="row">

        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="glyphicon glyphicon-scale"></span>
            </div>
            <div class="panel-body">

              <form role="simplex_input">

                <div class="form-group">
                  <input type="text" id="expression" class="form-control" name="expressao" placeholder="Expressão, exemplo: 3x1 + 5x2">
                  <hr>
                </div>

                <div id="restrictions">
                  <div class="form-group form-horizontal">
                    <input type="text" class="form-control" name="restricao" placeholder="Restrição, exemplo: 3x1 + 2x2 <= 18">
                  </div>
                </div>

                <button type="button" id="add" class="btn btn-success">Add Restrição</button>
                <button type="button" id="max" class="btn btn-primary">Maximizar</button>
                <button type="button" id="min" class="btn btn-primary">Minimizar</button>

              </form>

            </div>
          </div>
        </div>  

        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              Resultado
            </div>
            <div class="panel-body">
              <div id="result">
                <div class="alert alert-info">
                  Preencha o formulário ao lado e escolha o calculo.
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
   
  </body>

</html>
