<html>
  
  <head>
    <title>Simplex</title>
    <meta charset="UTF-8" />
  </head>

  <body>

    <h1>SIMPLEX</h1>
    <br/>

    <form action="" method="post">
      <input type="text" name="expressao" placeholder="Expressão"/>
      <br/>
      <input type="text" name="restricao1" placeholder="Restrição"/>
      <br/>
      <input type="text" name="restricao2" placeholder="Restrição"/>
      <br/>
      <input type="button" name="calcular" value="calcular"/>
      <br/>
      <input type="submit" value="Enviar"/>
    </form>

  </body>

</html>