<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>
          aaaa
        </th>
        <th>
          aaaa
        </th>
        <th>
          aaaa
        </th>
        <th>
          aaaa
        </th>
        <th>
          aaaa
        </th>
        <th>
          aaaa
        </th>
        <th>
          aaaa
        </th>
        <th>
          aaaa
        </th>
        <th>
          aaaa
        </th>
        <th>
          aaaa
        </th>
        <th>
          aaaa
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          aaaa
        </td>
      </tr>
      <tr>
        <td>
        aaaa
        </td>
      </tr>
      <tr>
        <td>
        aaaa
        </td>
      </tr>
      <tr>
        <td>
        aaaa
        </td>
      </tr>
    </tbody>
  </table>
</div>