<% @matrix_step_by_step.each do |matrix| %>

  <div class="table-responsive">
    <table class="table table-bordered">
      <% matrix.each do |row| %>
        <tr>                    
          <% row.each_with_index do |el, idx| %>
            <% if el.class == Float %>
              <td><%= el.round(3) %></td>
            <%else%>                    
              <td><%= el %></td>
            <% end %>
          <% end %>  
        </tr>  
      <% end %>
    </table>
  </div>
  <hr>

<% end %>
